#container{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    border: 2px solid rgb(19, 219, 226);
    border-radius: 10px ;
    

}
div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    text-align: center;
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    
}

#cont{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid rgb(14, 174, 196);
    border-radius: 10px;
}
#logo{
    font-size: 24px;
    display: inline-block;
    margin: 20px;
    margin-top: 10px;

}

